
            <!-- FOOTER -->
            <footer>
              <p class="float-right"><a href="#">Back to top</a></p>
              <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>

