<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" height=30></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/" routerLinkActive="active" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="about" routerLinkActive="active" class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact" routerLinkActive="active" class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <button class="btn my-2 my-sm-0" type="submit">Log In</button>
    </form>
  </div>
</nav>
